/*
 * Always set the map height explicitly to define the size of the div element
 * that contains the map.
 */
#map {
  height: 100%;
}

/*
 * Optional: Makes the sample page fill the window.
 */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.simpsons {
  background-color: #f8db27;
  color: #9c5b01;
  border: #9c5b01 2px solid;
  border-radius: 5px;
}

.simpsons a {
  font-size: 1.5rem;
  font-weight: bold;
}
