/* Mobile First
 * Start with the small screen first, then expand until it looks like shit.
 * Time for a breakpoint!
 * – Stephen Hay
 */

.homer {
  /* Image: 333 x 500 */
  width: calc(333px / 2);
  height: calc(500px / 4);
  background-image: url("./homer.jpg");

  /* Scene 8 */
  background-position: bottom right;
}

@media only screen and (min-width: 601px) {

  /* Scene 7 */
  .homer {
    background-position: bottom left;
  }
}

@media only screen and (min-width: 701px) {

  /* Scene 6 */
  .homer {
    background-position: bottom calc(-500px / 4) right;
  }
}

@media only screen and (min-width: 801px) {

  /* Scene 5 */
  .homer {
    background-position: bottom calc(-500px / 4) left;
  }
}

@media only screen and (min-width: 901px) {

  /* Scene 4 */
  .homer {
    background-position: top calc(-500px / 4) right;
  }
}

@media only screen and (min-width: 1001px) {

  /* Scene 3 */
  .homer {
    background-position: top calc(-500px / 4) left;
  }
}

@media only screen and (min-width: 1101px) {

  /* Scene 2 */
  .homer {
    background-position: top right;
  }
}

@media only screen and (min-width: 1201px) {

  /* Scene 1 */
  .homer {
    background-position: top left;
  }
}
