/* Desktop First
 * Full width challenge
 */

.homer {
  background-image: url("./homer.jpg");
  aspect-ratio: 4 / 3;
  width: 100%;
  height: auto;

  /* Scene 1 */
  background-size: 200%;
}

@media only screen and (max-width: 1200px) {

  /* Scene 2 */
  .homer {
    background-position: top right;
  }
}

@media only screen and (max-width: 1100px) {

  /* Scene 3 */
  .homer {
    background-position: top -100% left;
  }
}

@media only screen and (max-width: 1000px) {

  /* Scene 4 */
  .homer {
    background-position: top -100% right;
  }
}

@media only screen and (max-width: 900px) {

  /* Scene 5 */
  .homer {
    background-position: bottom -100% left;
  }
}

@media only screen and (max-width: 800px) {

  /* Scene 6 */
  .homer {
    background-position: bottom -100% right;
  }
}

@media only screen and (max-width: 700px) {

  /* Scene 7 */
  .homer {
    background-position: bottom left;
  }
}

@media only screen and (max-width: 600px) {

  /* Scene 8 */
  .homer {
    background-position: bottom right;
  }
}
