@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk&family=Mulish&family=Pontano+Sans&display=swap');

h1 {
  font-family: 'Hanken Grotesk', sans-serif;
  font-weight: bold;
}

.message {
  min-width: 33%;
  width: 26rem;
  background-color: #95F598;
  border-radius: 999px 0 0 999px;
}

.message__content {
  font-family: 'Mulish', sans-serif;
  padding: .25rem .5rem;
  font-weight: bold;
}

.message__username {
  font-family: 'Pontano Sans', sans-serif;
  font-size: .75rem;
}
